# See https://help.github.com/en/articles/about-code-owners
# to learn more about code owners.
# Order is important; the last matching pattern takes the most
# precedence. You may specify either a GitHub username, or an
# email address if you prefer, as the code owner.


# ------- BEGIN CODEOWNERS -------


# Anything that has not been determined by the above rules
# will be considered to be owned by HorseScript,
# and will be referenced to the members of HorseScript.
# I would add @HorseScript to the list of owners,
# however I cannot add organizations to the list.

*.* @HorseScript





# Interpreter was made by gemsvidø (@afkvido).
# Any other files contributed to Interpreter by others,
# will be referenced somewhere below.

/Interpreter/ @afkvido





# Terminal was made by gemsvidø (@afkvido).
# Any other files contributed to Terminal by others,
# will be referenced somewhere below.

/Terminal/ @afkvido





# The Utilities were made by gemsvidø (@afkvido).
# Any other files contributed to Utilities by others,
# will be referenced somewhere below.

/Utility/ @afkvido









# ------- END CODEOWNERS -------